/* Set ALL HTML elements with border-box sizing */
* {
    box-sizing: border-box;
  }
  
  body{
    background: #7d959d;
  }

  .banner, 
        .bottom{
    background-color: black;
    color: white;
    height: auto;
  }

  h1,
    .copy{
    font-family: Papyrus, 'Lucida Handwriting', Arial;
    margin: 0px;
    padding: 10px 0px 0px 0px;
    text-align: center;
  }
  
  .enlarge{
    font-size: 20pt;
    margin-bottom: 2%;
    margin-top: 0%;
  }
  nav a{
    padding: 0 5px 0 5px;
    font-size: 18pt;
    font-family: 'open sans',arial,sans-serif;
  }

  img{
    text-align: center;
    display: block;
    width: 35%;
    border-radius: 10px;
    padding: 5px;
    margin: 15px auto 15px auto;
  }

  .center{
    margin-left: auto;
    margin-right: auto;
    width: 30em
  }

  .moveit{
  text-align: center;
  font-size: 18pt;
  font-family: 'open sans',arial,sans-serif;
  padding-bottom: 5px;
}

  .copy{
    margin: 5px auto 5px auto;
}

  .email{
    font-size: 18pt;
  }

  .email:link{
    font-family: 'open sans',arial,sans-serif;
    color: rgb(118, 0, 0);
  }

/* Use of Psuedo classes*/  
/* unvisited link */
nav a:link {
  color: #ffffff;
}
/* visited link */
nav a:visited {
  color: blue;
}
/* mouse over link */
nav a:hover {
  color: #eb3939;
}
/* selected link */
nav a:active {
  color: #4fd58b;
}

.bigger a{
  font-size: 18pt;
  font-family: 'open sans',arial,sans-serif;
  color: rgb(118, 0, 0);
}
